<div class="panel panel-info" style="margin-top:1em">
    <div class="panel-heading">
        <h1 class="panel-title" style="font-size:2em">
            Introduksjon
        </h1>
    </div>
</div>

<div class="panel-body">
    <p class='lead'>
        Velkommen til studien vår.<br/><br/>
        Nå skal du gjennomføre en sorteringsoppgave og svare på noen spørsmål.<br/><br/>
        Takk for at du deltar!
    </p>
    <div class="text-center proceed" style="margin: 30px auto 10px;">
        <button pi-message-done type="button" class="btn btn-primary">
            Start
        </button>
    </div>
</div>
