<div class="panel panel-info" style="margin-top:1em">
    <div class="panel-heading">
        <h1 class="panel-title" style="font-size:2em">
            Einführung
        </h1>
    </div>
</div>

<div class="panel-body">
    <p class='lead'>
        Willkommen zu unserer Studie.<br/><br/>
        Als Nächstes werden Sie eine Sortieraufgabe durchführen und einige Fragen beantworten.<br/><br/>
        Wir danken Ihnen herzlich für Ihre Teilnahme!
    </p>
    <div class="text-center proceed" style="margin: 30px auto 10px;">
        <button pi-message-done type="button" class="btn btn-primary">
            Starten
        </button>
    </div>
</div>
