<%
    var respInst = "werden Sie die Tasten „E“ und „I“ der Tastatur verwenden, um";
    if (global.$isTouch) respInst = "werden Sie";
%>

<div class="panel panel-info" style="margin-top:1em">
    <div class="panel-heading">
        <h1 class="panel-title" style="font-size:2em">
            Anweisungen zum IAT
        </h1>
    </div>
</div>

<br>

<div class="panel-body">
    <p class="lead">
        Als Nächstes <%=respInst%> Elemente so schnell wie möglich den entsprechenden Gruppen zuordnen.
        Dies sind die vier Gruppen und die dazugehörigen Elemente:
    </p>

    <br>

    <table class="table table-bordered">
        <tr class="active">
            <th>Kategorie</th>
            <th>Elemente</th>
        </tr>

        <tr>
            <th>Dringende Begriffe</th>
            <td>
                Dringend, Sofort, Jetzt, Kritisch, Priorität, Schnellstmöglich, Notfall, Eilig
            </td>
        </tr>

        <tr>
            <th>Nicht dringende Begriffe</th>
            <td>
                Später, Routine, Flexibel, Jederzeit, Optional, Geplant, Irgendwann, Niedrige Priorität
            </td>
        </tr>

        <tr>
            <th>Männer</th>
            <td>
                <%=global.baseURL%>man1.jpg
                <img src" height="60">
                <img.jpg" height="60">
                <img src="<%=global.baseURL%>          <img src" height="60">
                <img src="<%=global.baseURL%       </td>
        </tr>

        <tr>
            <th>Frauen</th>
            <td>
                <img src="<%=global"60">
                <img src="<%=global.baseURL%>woman2.jpg" height="="<%=global.base
                <img src="<%=global.baseURL%>woman4.jpg" heightrc="<%=global"60">
                <img src="<%=global.baseURL%>woman6  </td>
        </tr>
    </table>

    <br>

    <p class="lead">
        Der Test besteht aus sieben Abschnitten. Die Anweisungen ändern sich in jedem Abschnitt.
        Bitte lesen Sie die Anweisungen jeweils aufmerksam durch.
    </p>

    <br>

    <div class="text-center proceed" style="margin: 30px auto 10px;">
        <button pi-message-done type="button" class="btn btn-primary">
            Start
        </button>
    </div>
</div>
